#text-styling {
    /* Default Font-family is Times New Roman */
    /* Font Fallback */
    font-family: Arial, Helvetica, sans-serif;

    /* Keyword Values */
    font-weight: bold;
    font-weight: bolder;

    /* Numerical Values */
    font-weight: 100;
    font-weight: 200;
    font-weight: 300;
    font-weight: 400;
    font-weight: 500;
    font-weight: 600;
    font-weight: 700;
    font-weight: 800;
    font-weight: 900;
    font-weight: 950;

    /* Font Style */
    font-style: oblique;
    font-style: italic;

    /* Text Alignment */
    text-align: left;
    text-align: right;
    text-align: center;

    /* Line Height is the space above and below the text */
    line-height: 80px;

    /* Line space in between characters */
    letter-spacing: 8px;
    letter-spacing: -4px;
}

#text-decoration {
    text-decoration: overline line-through underline;
    text-decoration-line: underline;
    text-decoration-line: line-through;
    text-decoration-line: overline;

    text-decoration-style: solid;
    text-decoration-style: dotted;
    text-decoration-style: dashed;
    text-decoration-style: double;
    text-decoration-style: wavy;

    text-decoration-color: tomato;
    text-decoration-thickness: 6px;

    /* Combine them all. */
    text-decoration: overline tomato 4px wavy;
  }

#colors {
    /* Colors name */
    color: yellow;
    background-color: aqua;

    /* RGB */
    /* rgb(red, green, blue) */
    /* 0 - 255 */
    color: rgb(255, 150, 0);
    background-color: rgb(0, 150, 255);

    /* Hexadecimal */
    /* #RRGGBB */
    /* 0 - 9, A - F */
    color: #faf0ca;
    background-color: #0d3b66;
  }

/* Units of Measurement */
#absolute-unit-px {
    font-size: 18px;
}

#relative-unit-em {
    /* Relative to the parent's font size */
    /* font-size: 1em; 20px */
    font-size: 1em;
    font-size: 3em; /*  font-size: 1em; 60px */
}

#relative-unit-rem {
    /* rem -root em */
    /* Relative to the font size of the root element */
    /* default font-size is 16px */
    font-size: 1rem;
    font-size: 3rem; /* 3rem = 48px */
}